Repository RideXpress/docs, pull requests merged in 2024-06, with the labels that each got.

#95 94-integration architecture update diagrams with multiple process api based on use cases
  architecture/diagrams/entity-diagrams/integration-context-diagram.drawio.svg
  architecture/diagrams/use-cases/accepting-ride-use-case.drawio.svg
  architecture/diagrams/use-cases/finishing-ride-use-case.drawio.svg
  architecture/diagrams/use-cases/request-ride-use-case.drawio.svg
  architecture/diagrams/use-cases/sign-up-user-use-case.drawio.svg
  architecture/diagrams/use-cases/wait-for-ride-use-case.drawio.svg
Labels: documentation, Integration Architecture

#97 Update application-architecture.md
  architecture/anypoint-platform-architecture/application-architecture.md
Labels: documentation, Anypoint Platform Architecture

#99 Common services section fixed
  architecture/anypoint-platform-architecture/common-services.md
Labels: documentation, mvp, Anypoint Platform Architecture
